/*
Generic Styling, for Desktops/Laptops
*/
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #ff6600;
  color: black;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid black;
  text-align: left;
}

table.a {
  table-layout: auto;
  width: 200px;
  height: 230px;
}
