* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Numans", sans-serif;
}
p {
    font-weight: bold;
}

img {
    margin: 10px;
}

.menu-overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.menu-overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.menu-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 6vh;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay-tables a {
    font-size: 10vh !important;
}

/* When you mouse over the navigation links, change their color */
.menu-overlay a:hover,
.menu-overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.menu-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 10vh;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .menu-overlay a {
        font-size: 20px;
    }
    .menu-overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.pages {
    position: fixed;
    top: 56px;
    width: 100%;
    background-color: lightgray;
    padding: 6px;
    z-index: 10;
}

.pageDiv {
    width: 50px;
    height: 50px;
    background-color: gray;
    text-align: center;
    border-radius: 3px;
    font-size: 20px;
    padding-top: 10px;
}

a .pageDiv {
    text-decoration: none;
    color: black;
}

a:hover .pageDiv {
    text-decoration: none;
    color: black;
}

.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.center-align {
    text-align: center;
}

.underline-text {
    text-decoration: underline;
    font-weight: bold;
}

.border-text {
    border: 2px solid gray;
    color: grey;
    border-radius: 3px;
    margin-left: 50px;
}

.orange-box {
    background-color: #ff6600;
    border: 2px solid black;
}

.black-box {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0px !important;
}

.black-box p {
    margin-bottom: 0 !important;
}

.absolute-position {
    position: absolute;
    top: 0;
    left: 0;
}

.border-box {
    border: 1px solid black;
}

.float-left {
    float: left;
}

.cleaner {
    clear: both;
}

.right-float {
    float: right;
}

.tableContainer {
}

.customTable {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    float: left;
}

.customTable th {
    background: #ff6600;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.customTable.gray1 th {
    background: #ccc !important;
}

.customTable.gray1 th:nth-child(2) {
    width: 120px;
}

.customTable.gray1 th:nth-child(3) {
    width: 50px;
}

.customTable.gray2 th {
    background: #ccc !important;
}

.customTable.gray2 th:nth-child(1) {
    width: 120px;
}

.customTable.gray2 th:nth-child(2) {
    width: 50px;
}

.alat .flex-container {
    justify-content: flex-start !important;
}

.customTable td,
.customTable th {
    padding: 2px;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
}

.customTable td {
    background-color: black;
    color: white;
    border: 1px solid white !important;
}

.customTable td input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background-color: inherit;
    color: inherit;
}

.customTable .ordered {
    background-color: gray !important;
    border: 1px solid white !important;
}

/* .customTable .ordered input {
    color: #fff;
} */

.customTable .added {
    background-color: white !important;
    color: black !important;
    border: 1px solid black !important;
}

.customTable td > ul > li {
    display: block;
    padding: 5px;
    background-color: #ff6600;
    cursor: pointer;
    border: 1px solid white;
}

#tableColorSm table thead tr th:nth-child(2) {
    background-color: red !important;
}

#tableColorSm table thead tr th:nth-child(3) {
    background-color: purple !important;
}

#tableColorSm table thead tr th:nth-child(4) {
    background-color: gray !important;
}

#tableColorLg table thead tr th:nth-child(2) {
    background-color: purple !important;
}

#tableColorLg table thead tr th:nth-child(3) {
    background-color: white !important;
}

#tableColorLg table thead tr th:nth-child(4) {
    background-color: aqua !important;
}

#tableColorLg table thead tr th:nth-child(5) {
    background-color: forestgreen !important;
}

#tableColorLg table thead tr th:nth-child(6) {
    background-color: red !important;
}

#tableColorLg table thead tr th:nth-child(7) {
    background-color: gray !important;
}

.e {
    table-layout: auto;
    width: 200px;
}
.c {
    table-layout: auto;
    /* height: 150px; */
}
.b {
    /* height: 40vh; */
}
.a {
    margin: 0 auto;
    width: auto;
}
.m {
    table-layout: auto;
    width: 200px;
    /* height: 100px; */
}
.p {
    table-layout: auto;
    width: 52%;
    margin-left: 200px;
    margin-right: auto;
}
.d {
    table-layout: auto;
    width: 57%;
    margin-left: 200px;
    margin-right: auto;
}
.s {
    table-layout: auto;
    width: 67%;
    margin-left: 200px;
    margin-right: auto;
}
.t {
    table-layout: auto;
    width: 62%;
    margin-left: 200px;
    margin-right: auto;
}
.k {
    table-layout: auto;
    width: 50%;
}
.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.flex-column > div {
    margin-top: 20px;
}

.flex-column > div:nth-child(1) {
    margin-top: 0;
}

.table-container {
    width: 1850px;
    padding-top: 50px;
}

.cetiriTabele {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.specificnaTabela {
    align-self: flex-end;
    justify-content: flex-start;
    margin-left: -25%;
}

.specTabela {
    align-self: flex-end;
    justify-content: flex-start;
    margin-left: -38%;
    /* margin-bottom: 170px; */
}

.flex-container > div {
    margin-bottom: 30px;
}
.cetiritabele {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    /* padding-left: 70px; */
}
.img {
    width: 200px;
}

.img-left {
    padding-top: 120px;
}

.card {
    margin-top: 100px;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.login-card {
    margin-top: 20px !important;
}

.card-header h3 {
    color: white;
}

.card-footer a {
    color: #ffc312;
}

.input-group-prepend span {
    width: 50px;
    background-color: #ffc312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #ffc312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.orangeButton {
    color: black;
    background-color: #ffc312;
}

.orangeButton:hover {
    color: black;
    background-color: #aa8411;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.errors {
    color: rgb(255, 70, 70);
}

.success {
    color: rgb(70, 255, 110);
}

.success ul {
    list-style-type: none;
}

.success ul li {
    font-style: italic;
}

#successBox {
    padding-top: 50px;
}

.tabela1 img {
    width: 40px;
    height: 40px;
    align-items: flex-end;
}
.tabela2 img {
    width: 60px;
    height: 60px;
    align-self: flex-end;
}
.rotate {
    -ms-transform: rotate(270deg); /* IE 9 */
    transform: rotate(270deg);
    border-style: dashed;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}

@media screen and (max-width: 1200px) {
    .page-selector label {
        font-size: 70px;
    }

    .page-selector select {
        height: auto;
        font-size: 80px;
    }

    .navbar-toggler-table {
        font-size: 100px;
    }

    .pages {
        top: 160px;
    }

    .table-container {
        padding-top: 470px;
    }
}
