* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Numans", sans-serif;
}

.cleaner {
    clear: both;
}

.right-float {
    float: right;
}

.tableContainer {
}

.customTable {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    float: left;
}

.customTable th {
    background: #ff6600;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.customTable td,
.customTable th {
    padding: 2px;
    border: 1px solid black;
    text-align: center;
    word-wrap: break-word;
}

.customTable td input {
    width: 100%;
    height: 100%;
    font-size: 16px;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    background-color: inherit;
}

.customTable .added {
    background-color: gray;
}

.customTable .ordered {
    background-color: black !important;
}

.customTable .ordered input {
    color: #fff;
}

#tableColorSm table thead tr th:nth-child(2) {
    background-color: red !important;
}

#tableColorSm table thead tr th:nth-child(3) {
    background-color: purple !important;
}

#tableColorSm table thead tr th:nth-child(4) {
    background-color: gray !important;
}

#tableColorLg table thead tr th:nth-child(2) {
    background-color: purple !important;
}

#tableColorLg table thead tr th:nth-child(3) {
    background-color: white !important;
}

#tableColorLg table thead tr th:nth-child(4) {
    background-color: aqua !important;
}

#tableColorLg table thead tr th:nth-child(5) {
    background-color: forestgreen !important;
}

#tableColorLg table thead tr th:nth-child(6) {
    background-color: red !important;
}

#tableColorLg table thead tr th:nth-child(7) {
    background-color: gray !important;
}

.e {
    table-layout: auto;
    width: 200px;
}
.c {
    table-layout: auto;
    /* height: 150px; */
}
.b {
    /* height: 40vh; */
}
.a {
    margin: 0 auto;
}
.m {
    table-layout: auto;
    width: 200px;
    /* height: 100px; */
}
.p {
    table-layout: auto;
    width: 52%;
    margin-left: 200px;
    margin-right: auto;
}
.d {
    table-layout: auto;
    width: 57%;
    margin-left: 200px;
    margin-right: auto;
}
.s {
    table-layout: auto;
    width: 67%;
    margin-left: 200px;
    margin-right: auto;
}
.t {
    table-layout: auto;
    width: 62%;
    margin-left: 200px;
    margin-right: auto;
}
.k {
    table-layout: auto;
    width: 50%;
}
.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-column {
    flex-direction: column;
}

.flex-column div {
    margin-top: 20px;
}

.flex-column div:nth-child(1) {
    margin-top: 0;
}

.cetiriTabele {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.specificnaTabela {
    align-self: flex-end;
    justify-content: flex-start;
    margin-left: -25%;
}

.specTabela {
    align-self: flex-end;
    justify-content: flex-start;
    margin-left: -38%;
    /* margin-bottom: 170px; */
}

.flex-container div {
    margin-bottom: 30px;
}
.cetiritabele {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container {
    padding-left: 70px;
}
.img {
    padding-top: 120px;
}
.card {
    margin-top: 100px;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: 50px;
    background-color: #ffc312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: black;
    background-color: #ffc312;
    width: 100px;
}

.login_btn:hover {
    color: black;
    background-color: white;
}

.orangeButton {
    color: black;
    background-color: #ffc312;
}

.orangeButton:hover {
    color: black;
    background-color: #aa8411;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.errors {
    color: rgb(255, 70, 70);
}

.success {
    color: rgb(70, 255, 110);
}

.success ul {
    list-style-type: none;
}

.success ul li {
    font-style: italic;
}

#successBox {
    padding-top: 50px;
}

.tabela1 img {
    width: 40px;
    height: 40px;
    align-items: flex-end;
}
.tabela2 img {
    width: 60px;
    height: 60px;
    align-self: flex-end;
}
